
.movieCard {
    height: 281px;
    display: flex;
    max-width: 454px;
    margin-bottom: 35px;
    flex-basis: 50%;
    margin-left: 32px;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
    -webkit-box-shadow: 12px 5px 33px -5px rgba(34, 60, 80, 0.42);
    -moz-box-shadow: 12px 5px 33px -5px rgba(34, 60, 80, 0.42);
    box-shadow: 12px 5px 33px -5px rgba(34, 60, 80, 0.42);


}
.cardHeader {
    display: flex;
    justify-content: space-between;
}
.ellipse {
    position: absolute;
    right: 10px;
    top: 14px;
}
.rateNum {
    position: absolute;
    font-size: 12px;
    right: 18px;
    top: 25px;
}
.movieCard:nth-child(2n + 1) {
    margin-left: 0;
}
.movieImg {
    width: 183px;
    margin-right: 20px;
    color: #1890FF;
}
.movieTitle {
    margin-bottom: 15px;
    font-size: 20px;
    color: #000000;
    margin-right: 50px;
    font-weight: 400;
    margin-top: 20px;
}

.releaseDate {
    display: block;
    margin-bottom: 10px;
    color: #827E7E;
    font-size: 12px;
}

.genresList {
    display: flex;
    margin-bottom: 10px;
}

.genresList__item {
    list-style: none;
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.65);
    background: #FAFAFA;
    color: #827E7E;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 400;

}

.description  {
    margin-bottom: 10px;
    width: 228px;
    line-height: 22px;
    overflow: hidden;
    font-size: 12px;
    white-space: break-spaces;
    text-overflow: ellipsis;
}
.hidden {
    height: 40px;
}
.show {
    max-height: 90px;
}

