.searchPanelWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 32px;
    margin-bottom: 32px;
    max-width: 980px;
}

.searchPanelButtonWrapper {
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}

.searchPanelButtonWrapper button {
    background-color: #fff;
    border: none;
    padding-bottom: 15px;
    font-family: 'Inter', sans-serif;

}
.searchPanelButtonWrapper button:hover {
    border-bottom: 1px solid #1890FF;
    color: #1890FF;
}
.focusSearchPanelButton {

    border-bottom: 1px solid #1890FF;
    color: #1890FF;
}



.searchPanelWrapper input {
    width: 924px;
    padding: 9px 0 9px 12px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}
.searchPanelWrapper input::placeholder {
    color: rgba(0, 0, 0, 0.25);
}